.table-hover tr:hover{
	background-color:#dee2e6 !important;
	cursor: pointer;
}

.tab-content #salon .table td{
	padding: 0;
}
.tab-content #service .table td{
	padding: 0;
}
.table-hover tr a{
	color: inherit;
}
.table-hover tr a .bxs-trash{
	color: red;
	font-size: 30px;
}
.booking .table td{
	padding: 0;
}